# docker-compose.yml
version: '3.9'

services:
  backend:
    build: ./backend
    container_name: ms-back
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      # - "${MIDI_FILES_FROM_PATH}:/app/midi_raw_files"
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    build: ./frontend
    container_name: ms-front
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - "VITE_API_URL=${VITE_API_URL}"
      - CHOKIDAR_USEPOLLING=true
