# docker-compose.yml
version: '3.9'

services:
  backend:
    build: ./backend
    container_name: ms-back
    ports:
      - "8000:8000"
    networks:
      - ms-net
    volumes:
      - ./backend:/app
      - "${MIDI_FILES_FROM_PATH}:/app/midi_raw_files"
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    build: ./frontend
    container_name: ms-front
    ports:
      - "5173:5173"
    networks:
      - ms-net
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - "VITE_API_URL=${VITE_API_URL}"
      - "VITE_LYRICS_API_URL=${VITE_LYRICS_API_URL}"
      - CHOKIDAR_USEPOLLING=true

  lyrics:
    build: ./lyrics
    container_name: ms-ly
    ports:
      - "8080:8080"
    networks:
      - ms-net
    volumes:
      - ./lyrics:/app
    environment:
      - PYTHONUNBUFFERED=1

networks:
  ms-net:
